 *{
    padding: 0;
    margin: 0;
 }
 body{
    background: linear-gradient(TO right, #4facfe, #40f2fe);
 }
 header{
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    color: white;
 }
 .logo{
   width:100px;
 }
 .form-container form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
 }
 label{
    font-size: medium;
 }
 .form-container input{
    width: 100%;
    font-size: large;
 }
 .form-container select{
    width: 100%;
    font-size: large;
 }
 button{
    width: 100%;
    padding: 20px;
    background-color: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: large;
 }
 button:hover{
   background-color: black;
   color: #4facfe;
 }
 footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    margin-top: 20px;
 }


  
   



